.row
  .col-12
    .p-5.mb-4.bg-body-tertiary.rounded-3
      h1.display-4 Welcome!
      p.lead This is WebApp high-speed mock up.
      a.btn.btn-primary.btn-lg[href="dashboard"] Dashboard
.row
  .col-12
    markdown:
      ----

      Document
      ========

      Reference: [Webアプリモックアップ環境構築(Sinatra, Guard, Slim, TwitterBootstrap)](http://qiita.com/ma2shita/items/e9c6d399f9597e3991e6)
